*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-color-primery{
  color: #FA804C;
}
.text-color-secondary{
  color: #363958;
}
.card-body{
  transition: 0.5s all;
}
.card-body:hover{
  box-shadow: 14px 12px 24px 0px rgba(0,0,0,0.2);
  transform: translateY(-15px);
}